#mycontainer{
    width:100%;
    height:93%;
}
/* #myside{
  float:left;
  width:15%;
  height:100%;
  background: black;
} */
#router-switch{
  float: left;
  width:100%;
  height:100%;
  background: white;
}