#loginComponent{
    width:23%;
    height: 65%;
    margin:auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
#logocontainer{
    background:url(../img/logo-dark.png);
    width:100%;
    height:42%;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    border: none;
    margin-bottom: 3%;
}

#login{
    display: block;
    width:100%;
    height:45%;
}
.content{
    display: block;
    width:100%;
    height:100%;
}
.content tbody{
    display: block;
    width:100%;
    height:100%;
}
.content tr{
    display: block;
    font-size: 1.2em;
    width:100%;
    height:20%;
    margin-bottom: 10%;
}
.content td{
    width:100%;
    height:100%;
    display: block;
    text-align: center;
}
.mytext{
    width:100%;
    height:100%;
    display: block;
    border:2px solid;
    border-color: #fff;
    border-radius:4px;
    font-size: 1.2rem;
    
}
.mytext::-webkit-input-placeholder {
    color: #aab2bd;
    font-size: 1.2rem;
 }

#copyright{
    font-size:0.7rem;
    color: #fff;
    width:100%;
    height:10%;
    text-align: center;
}