#NavigationBar{
    width:100%;
    height: 7%;
    background: #35527b;
    font-size: 1rem;
    color: white;
}
#NavigationBar-column1{
    width:7%;
    height:100%;
    float:left;
    display: flex;/*make contents in vertical center position*/
    display: -webkit-flex; /* Safari */
    align-items: center;
    text-align: left;
    padding-left: 2%;
    
}
#NavigationBar-column2{
    width:48%;
    height:100%;
    float:left;
    display: flex;/*make contents in vertical center position*/
    display: -webkit-flex; /* Safari */
    align-items: center;
    text-align: left;
    font-size: 1.3rem;
}
#NavigationBar-column3{
    width:15%;
    height:100%;
    float:left;
    display: flex;/*make contents in vertical center position*/
    display: -webkit-flex; /* Safari */
    justify-content: center;
    align-items: center;
}
#NavigationBar-column4{
    width:15%;
    height:100%;
    float:left;
    display: flex;/*make contents in vertical center position*/
    display: -webkit-flex; /* Safari */
    justify-content: center;
    align-items: center;
}
#NavigationBar-column5{
    width:15%;
    height:100%;
    float:left;
    display: flex;/*make contents in vertical center position*/
    display: -webkit-flex; /* Safari */
    justify-content: center;
    align-items: center;
}