#playerteam{
    height: 100%;
    width:100%;
}

#playerteam-bar{
    height:7%;
    width:100%;
    background-color: #35527b;
}

#playerteam-bar div{
    height:100%;
    float:right;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
#playerteam-export-excel{
    height:100%;
    width:7%;
}

#playerteam-search{
    height:100%;
    width:9%;
}

#playerteam-select-box{
    height:100%;
    width:20%;
}

#playerteam-select{
    width:100%;
}
#playerteam-table{
    height:93%;
    width:100%;
    overflow-y: auto;
    overflow-x:auto;
}

