#player{
    height:100%;
    width:100%;
}

#player-bar{
    height:7%;
    width:100%;
    background-color: #35527b;
}

#player-table{
    height:93%;
    width:100%;
    overflow-y: auto;
    overflow-x:auto;
}

#player-table img{
    height:50px;
    width:50px;
}

#player-bar div{
    height:100%;
    float:right;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

#player-name-textbox{
    height:100%;
    width:15%;
}
#player-name-input{
    outline: none;
    border-radius: 5px;
}

#player-add{
    height:100%;
    width:9%;
}

#player-search{
    height:100%;
    width:9%;
}

#player-export-excel{
    height:100%;
    width:7%;
}

#totalNumberOfPlayers{
    height:100%;
    width:10%;
    color: white;
}