#trainingDetail tr{
    height:100%;
    width:100%;
    text-align: center;
}
#trainingDetail label{
    display:block;
    text-align: right;
    height:20px;
    width:150px;
    margin-right:15px;
}

#trainingDetail input{
    text-align: left;
    outline: none;
    height:20px;
    width:200px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 222, 216);
    
}
#trainingDetail textarea{
    text-align: left;
    outline: none;
    height:50px;
    width:200px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 222, 216);
}


#trainingDetail select{
    border: 0px;
    width: 105px;
    height:20px;
    text-align: left;
}

.modal-content{
    width: 450px;
}

