#training{
    height:100%;
    width:100%;
}
#training-bar{
    height:7%;
    width:100%;
    background-color: #35527b;
}
#training-table{
    overflow-y: auto;
    overflow-x:auto;
    height:93%;
    width:100%;
}
#training-bar div{
    height:100%;
    float:right;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

#training-name-textbox{
    height:100%;
    width:15%;
}

#training-status-select{
    height:100%;
    width: 10%;
}

#training-search{
    height:100%;
    width:9%;
}

#training-export-excel{
    height:100%;
    width:7%;
}

#totalNumberOfTrainings{
    height:100%;
    width:12%;
    color: white;
}
.training_note_div{
    overflow-y: auto;
    height:120px;
}
